/* <input type="file"> code modified from https://www.benmarshall.me/styling-file-inputs/ */

:root {
  --foreground-color: #111;
  --background-color: #fff;
  --activated-color: #333;
  --tree-border-color: #ccc;
  --tree-activated-border-color: #000;
  --button-color: #fff;
  --button-background-color: #495;
  --button-background-color-hover: limegreen;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f0f0f0;
    --background-color: #222;
    --activated-color: #ddd;
    --tree-border-color: #444;
    --tree-activated-border-color: #fff;
  }
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18pt;
  color: var(--foreground-color);
  background: var(--background-color);
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, Roboto, system-ui, Ubuntu, Tahoma, Verdana,
    Helvetica, sans-serif;
  line-height: 1.5em;
}

/* lifted from Bootstrap */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: inherit;
}

input {
  font: inherit;
}

p {
  margin-bottom: 1em;
}

ul,
ol {
  padding-left: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

header {
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.screen {
  flex: 1;
  display: flex;
}

.screen[hidden] {
  display: none;
}

noscript.screen,
#loadingScreenEl,
#uploadScreenEl {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 2rem;
  height: 2rem;
  border: 5px solid var(--foreground-color);
  border-right-color: transparent;
  border-radius: 100%;
  animation: loading-spinner 0.75s linear infinite;
}

@keyframes loading-spinner {
  100% {
    transform: rotate(360deg);
  }
}

#uploadInputEl {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
#uploadInputEl + label {
  color: var(--button-color);
  background: var(--button-background-color);
  display: inline-block;
  border-radius: 10px;
  border-bottom: 5px solid var(--foreground-color);
  padding: 1rem;
  font-weight: 800;
  cursor: pointer;
  user-select: none;
  transition: border-bottom ease-out 0.1s;
}
#uploadInputEl:focus + label,
#uploadInputEl + label:hover
{
  background: var(--button-background-color-hover);
}
#uploadInputEl:active + label,
#uploadInputEl + label:active
{
  border-bottom: 0;
  transition: border-bottom ease-out 0.1s;
}

#errorMessageEl {
  font-weight: bold;
  color: #009;
}

#explorerScreenEl {
  margin: 0 0.5rem;
  overflow: hidden;
}

#explorerBytesEl, #explorerTreeEl {
  flex: 1;
  overflow: auto;
}

#explorerBytesEl, pre {
  font-family: Inconsolata, Consolas, Monaco, monospace;
  font-size: 80%;
  line-height: 1.5em;
  white-space: pre-wrap;
}

#explorerBytesEl {
  font-family: Inconsolata, Consolas, Monaco, monospace;
  max-width: 15em;
}

#explorerBytesEl span {
  cursor: pointer;
}

#explorerBytesEl span.activated {
  background: var(--activated-color);
  color: var(--background-color);
}

#explorerTreeEl {
  padding-left: 0.5rem;
  scrollbar-gutter: stable;
}

#explorerTreeEl details.activated {
  outline-width: 3px;
  outline-color: var(--tree-activated-border-color);
}

#explorerTreeEl details {
  outline: 1px solid var(--tree-border-color);
  border-radius: 10px;
  padding: 0 0.5rem 0 0.5rem;
  transition: outline ease-out 0.1s;
  margin: 3px 3px 0.5rem 3px;
}

#explorerTreeEl details[open] {
  padding-bottom: 6px;
}

#explorerTreeEl details p:last-child {
  margin-bottom: 0;
}

#explorerTreeEl details .children {
  margin-left: 0.5rem;
}

#explorerTreeEl details summary {
  cursor: pointer;
  user-select: none;
  display: flex;
}

#explorerTreeEl details summary:before {
  content: "▶";
  margin-right: 0.2em;
  transition: transform ease-out 0.1s;
}

#explorerTreeEl details[open] > summary:before {
  transform: rotate(90deg);
}

#explorerTreeEl details summary:focus {
  outline: none;
}

#explorerTreeEl details summary .title {
  flex: 1;
  font-weight: bold;
}

#explorerTreeEl details summary .bytecount {
  margin-left: 0.5em;
  font-size: 75%;
  opacity: 0.5;
}

#explorerTreeEl details:not(.activated) {
  background: var(--background-color);
  color: var(--foreground-color);
}
